@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

p,
.paragraph {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
  font-weight: 100;
  padding: 12px 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0f0f0f;
}

/* STYLES FOR MOBILE */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 2.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 600;
  }

  p,
  .paragraph {
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0.025em;
    font-weight: 100;
    padding: 9px 0;
  }
}
